body {
    font-family: 'Merienda', cursive;
    margin: 0px;
}

h1 {
    font-size: 45px;
    color: rgb(196, 240, 36);
}

h2 {
    font-size: 40px;
    color: rgba(49, 107, 35, 0.877);
    orientation: rgb;
}

h3 {
    color: rgba(20, 93, 141, 0.658);

}

h4 {
    color: rgb(32, 32, 168)
}

.orange-color {
    color: orange;
}

.blue-color {
    color: blue;
}

.flexible-container {
    display: flex;
    margin: 150px;
}

.half-width {
    width: 50%;
    padding: 5px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, blue);
    color: rgb(201, 228, 228);
    font-weight: 400;
    padding: 4px 20px;
    border-radius: 4px;

}

.developer-box {
    width: 40%;
    box-shadow: 10px 8px 40px rgb(129, 202, 32);
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
}

.experience-area {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
}

.experience-area {
    font-size: 42px;
    font-weight: 500px;

}

#web-dev-experience {
    border-left: 5px solid;
    border-color: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: right;
}